body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(212, 212, 212);
    overflow-y: hidden;
    
}
.grid{
    display: grid;
    width: 480px;
    height: 480px;

}
.box {
    margin: 12px;
    border: 20px;
    display: flex;
    
}
.actual-box{
    
    background-color: rgb(255, 255, 255);
    border: 1px rgba(49, 49, 49, 0.192);
    

}

.actual-box:hover{
    background-color: black;
}

