:root{ 
    --current-background-color: black;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(212, 212, 212);
    overflow-y: hidden;
    
}
.grid{
    display: grid;
    width: 480px;
    height: 480px;

}

box{
    
    background-color: rgb(255, 255, 255);
    border: 1px rgba(49, 49, 49, 0.192);
    

}

box:hover{
    background-color: var(--current-background-color);
}

.black-box {
    background-color: black;
}

.red-box {
    background-color: #E53629;
}

.blue-box {
    background-color: #4149C3;
}

.green-box {
    background-color: #2CD23E;
}